<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ftm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FTM">

        <activity
            android:name=".checkout"
            android:exported="true"
            android:label="Bill Summary"
            android:parentActivityName=".Cart2" />
        <activity
            android:name=".Cart2"
            android:exported="true"
            android:label="Your Cart"
            android:parentActivityName=".ConsumerHome" />
        <activity
            android:name=".Tomato"
            android:exported="true"
            android:parentActivityName=".ConsumerHome" />
        <activity
            android:name=".ConsumerHome"
            android:exported="true"
            android:label="Welcome"
            android:parentActivityName=".Login" />
        <activity
            android:name=".Cart"
            android:exported="true"
            android:label="Added to inventory"
            android:parentActivityName=".Home" />
        <activity
            android:name=".grains"
            android:exported="true"
            android:label="Grains"
            android:parentActivityName=".Home" />
        <activity
            android:name=".pulses"
            android:exported="true"
            android:label="Pulses"
            android:parentActivityName=".Home" />
        <activity
            android:name=".fruit"
            android:exported="true"
            android:label="Fruites"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Veg"
            android:exported="true"
            android:label="Vegetables"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Search"
            android:exported="true"
            android:label="Search:"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Home"
            android:exported="true"
            android:label="Home" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="Login:"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignUpStep2"
            android:exported="true"
            android:label="Step 2:"
            android:parentActivityName=".SignUpStep1" />
        <activity
            android:name=".SignUpStep1"
            android:exported="true"
            android:label="Step 1:"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>